.modern-list-elements {
  list-style-type: none;
  padding: 20px;
  margin: 10px;
  font-size: larger;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  text-align: center;
  /* Centers text inside the item */
}